python.idea/
.vscode/
__pycache__/
*.tar.gz
*.tar
/model
.venv
build/
dist/
service/build/service/service.pkg
service/dist/service
faceplate-service/build/service/PKG-00.pkg
prophet-as-faceplate-service/service
faceplate-service/dist/service
service/logs/log.*
prophet_venv/
pipe*
mlruns
